Códigos_y_Otros/flows_Prac5.json
[{"id":"e705f7e52f35026c","type":"inject","z":"f2f75b3fefa2daa4","d":true,"name":"Generar Datos","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO `mediciones2024_2` (`ID`, `Fecha`, `Dispositivos`, `Temperatura`, `Humedad`, `Distancia`) VALUES (NULL, CURRENT_TIMESTAMP, 'ESP32', '20.5', '89.3', '20.2');","payload":"","payloadType":"date","x":160,"y":40,"wires":[["0819bef395700c1a","7690fe338ed658ee","941dcd87335b6bbe","62e72e91e5df1131","c487783f2cf923c7"]]},{"id":"941dcd87335b6bbe","type":"ui_text","z":"f2f75b3fefa2daa4","group":"1a7a350820de0727","order":1,"width":0,"height":0,"name":"Temperatura (°C)","label":"Temperatura (°C):","format":"{{msg.payload.Temperatura}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":550,"y":80,"wires":[]},{"id":"62e72e91e5df1131","type":"ui_text","z":"f2f75b3fefa2daa4","group":"1a7a350820de0727","order":3,"width":0,"height":0,"name":"Tópico","label":"Tópico: ","format":"{{msg.topic}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":510,"y":120,"wires":[]},{"id":"c487783f2cf923c7","type":"ui_gauge","z":"f2f75b3fefa2daa4","name":"Sensor DHT11","group":"1a7a350820de0727","order":2,"width":"6","height":"5","gtype":"gage","title":"Temperatura","label":"°C","format":"{{msg.payload.Temperatura}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":540,"y":160,"wires":[]},{"id":"7690fe338ed658ee","type":"debug","z":"f2f75b3fefa2daa4","name":"debug Temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":120,"wires":[]},{"id":"0819bef395700c1a","type":"mysql-r2","z":"f2f75b3fefa2daa4","d":true,"name":"DB_Grupo_B_IOT","host":"172.171.224.96","database":"DB_Grupo_B_IOT","username":"root","password":"dagd1946","sql":"","port":"3306","pooling":false,"waitForConnections":true,"connectionLimit":"10","queueTimeout":"10000","x":170,"y":80,"wires":[[]]},{"id":"17c463a303a9bd48","type":"debug","z":"f2f75b3fefa2daa4","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":320,"y":320,"wires":[]},{"id":"f8461d1d5934e723","type":"mqtt in","z":"f2f75b3fefa2daa4","name":"Suscriptor","topic":"prac5_B","qos":"0","datatype":"auto-detect","broker":"30d1b6bfd45badaa","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":220,"wires":[["3fc6de66d9db0680","7690fe338ed658ee","941dcd87335b6bbe","62e72e91e5df1131","c487783f2cf923c7","2edb95a2388eb83f","e516e9b4ed9e6aec","05cb25a512577efc","ff67eba823ce62b3","07339d385069be82","2c6defe84e62a065","6b559150f96178fd","672333c5d618d6df","9633568ccadc522c","3e202330ab3208d8","dfa339781f70841c","872df44d9fe036aa"]]},{"id":"3fc6de66d9db0680","type":"function","z":"f2f75b3fefa2daa4","name":"function 1","func":"var query = \"INSERT INTO `mediciones2024` (`ID`, `Fecha`, `Dispositivos`, `Temperatura`, `Humedad`, `Distancia`) VALUES (NULL, CURRENT_TIMESTAMP, '\";\nquery = query + msg.payload.Dispositivos + \"', '\";\nquery = query + msg.payload.Temperatura + \"', '\";\nquery = query + msg.payload.Humedad + \"', '\";\nquery = query + msg.payload.Distancia + \"');\";\nmsg.topic = query;\nreturn msg;\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":340,"wires":[["0819bef395700c1a","7d5c82f9e0672442","17c463a303a9bd48"]]},{"id":"2edb95a2388eb83f","type":"ui_text","z":"f2f75b3fefa2daa4","group":"b2fbceeff426f850","order":1,"width":0,"height":0,"name":"Humedad (%)","label":"Humedad (%):","format":"{{msg.payload.Humedad}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":520,"y":300,"wires":[]},{"id":"e516e9b4ed9e6aec","type":"ui_text","z":"f2f75b3fefa2daa4","group":"f393d217fc00fa74","order":1,"width":0,"height":0,"name":"Distancia (cm)","label":"Distancia (cm):","format":"{{msg.payload.Distancia}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":740,"y":300,"wires":[]},{"id":"05cb25a512577efc","type":"ui_text","z":"f2f75b3fefa2daa4","group":"b2fbceeff426f850","order":3,"width":0,"height":0,"name":"Tópico","label":"Tópico: ","format":"{{msg.topic}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":490,"y":340,"wires":[]},{"id":"ff67eba823ce62b3","type":"ui_text","z":"f2f75b3fefa2daa4","group":"f393d217fc00fa74","order":3,"width":0,"height":0,"name":"Tópico","label":"Tópico: ","format":"{{msg.topic}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":710,"y":340,"wires":[]},{"id":"2c6defe84e62a065","type":"ui_gauge","z":"f2f75b3fefa2daa4","name":"Sensor DHT11","group":"b2fbceeff426f850","order":2,"width":0,"height":0,"gtype":"donut","title":"Humedad","label":"%","format":"{{msg.payload.Humedad}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":520,"y":380,"wires":[]},{"id":"07339d385069be82","type":"ui_gauge","z":"f2f75b3fefa2daa4","name":"Sensor HC-SR04","group":"f393d217fc00fa74","order":2,"width":0,"height":0,"gtype":"donut","title":"Distancia","label":"cm","format":"{{msg.payload.Distancia}}","min":0,"max":"200","colors":["#0006b3","#e6b400","#ca3838"],"seg1":"20","seg2":"140","diff":false,"className":"","x":750,"y":380,"wires":[]},{"id":"6b559150f96178fd","type":"ui_text","z":"f2f75b3fefa2daa4","group":"1a7a350820de0727","order":4,"width":0,"height":0,"name":"Dispositivo","label":"Dispositivo: ","format":"{{msg.payload.Dispositivos}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":530,"y":200,"wires":[]},{"id":"672333c5d618d6df","type":"ui_text","z":"f2f75b3fefa2daa4","group":"b2fbceeff426f850","order":4,"width":0,"height":0,"name":"Dispositivo","label":"Dispositivo: ","format":"{{msg.payload.Dispositivos}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":510,"y":420,"wires":[]},{"id":"9633568ccadc522c","type":"ui_text","z":"f2f75b3fefa2daa4","group":"f393d217fc00fa74","order":4,"width":0,"height":0,"name":"Dispositivo","label":"Dispositivo: ","format":"{{msg.payload.Dispositivos}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":730,"y":420,"wires":[]},{"id":"3e202330ab3208d8","type":"ui_text","z":"f2f75b3fefa2daa4","group":"1a7a350820de0727","order":4,"width":0,"height":0,"name":"ID","label":"ID: ","format":"{{msg._msgid}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":510,"y":240,"wires":[]},{"id":"872df44d9fe036aa","type":"ui_text","z":"f2f75b3fefa2daa4","group":"b2fbceeff426f850","order":4,"width":0,"height":0,"name":"ID","label":"ID: ","format":"{{msg._msgid}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":490,"y":460,"wires":[]},{"id":"dfa339781f70841c","type":"ui_text","z":"f2f75b3fefa2daa4","group":"f393d217fc00fa74","order":4,"width":0,"height":0,"name":"ID","label":"ID: ","format":"{{msg._msgid}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":710,"y":460,"wires":[]},{"id":"7d5c82f9e0672442","type":"mysql","z":"f2f75b3fefa2daa4","mydb":"73bca283c2927280","name":"DB","x":310,"y":380,"wires":[[]]},{"id":"1a7a350820de0727","type":"ui_group","name":"Sensor DHT11","tab":"c5a58cac1b483fa3","order":1,"disp":true,"width":"6","collapse":true,"className":""},{"id":"30d1b6bfd45badaa","type":"mqtt-broker","name":"Sever MQTT","broker":"172.171.224.96","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"b2fbceeff426f850","type":"ui_group","name":"Sensor DHT11","tab":"c5a58cac1b483fa3","order":2,"disp":true,"width":"6","collapse":true,"className":""},{"id":"f393d217fc00fa74","type":"ui_group","name":"Sensor HC-SR04","tab":"c5a58cac1b483fa3","order":3,"disp":true,"width":"6","collapse":true,"className":""},{"id":"73bca283c2927280","type":"MySQLdatabase","name":"Data Base","host":"127.0.0.1","port":"3306","db":"DB_Grupo_B_IOT","tz":"","charset":"UTF8"},{"id":"c5a58cac1b483fa3","type":"ui_tab","name":"Practica 5: Grupo B","icon":"dashboard","order":1,"disabled":false,"hidden":false}]