Códigos_y_Otros/flowsEvalFinal.json
[{"id":"18e0d902d019bfb2","type":"ui_text","z":"7445ca685b2ca4c8","group":"1a7a350820de0727","order":1,"width":0,"height":0,"name":"Temperatura (°C)","label":"Temperatura (°C):","format":"{{msg.payload.Temperatura}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":530,"y":60,"wires":[]},{"id":"876a942380ef60e8","type":"ui_text","z":"7445ca685b2ca4c8","group":"1a7a350820de0727","order":3,"width":0,"height":0,"name":"Tópico","label":"Tópico: ","format":"{{msg.topic}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":490,"y":100,"wires":[]},{"id":"2806358678f5a952","type":"ui_gauge","z":"7445ca685b2ca4c8","name":"Sensor DHT11","group":"1a7a350820de0727","order":2,"width":"6","height":"5","gtype":"gage","title":"Temperatura","label":"°C","format":"{{msg.payload.Temperatura}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":520,"y":140,"wires":[]},{"id":"af7826d160e4e57b","type":"mqtt in","z":"7445ca685b2ca4c8","name":"Suscriptor","topic":"evaluacionFinal","qos":"0","datatype":"auto-detect","broker":"30d1b6bfd45badaa","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":160,"wires":[["7e62a48f676faae3","18e0d902d019bfb2","876a942380ef60e8","2806358678f5a952","293a6ac3fcc0334f","fbf0cde9642a6302","da249f10cef64467","d50234b03a37dc28","f3f38425521f82c2","79834838b0d57c37","879852106172ef36","dec188b8e693fc24","3f3bfc37da44e3cd","bf7823849cec34a0","642af2af1f44736f","c255a0f180c71969"]]},{"id":"293a6ac3fcc0334f","type":"ui_text","z":"7445ca685b2ca4c8","group":"b2fbceeff426f850","order":1,"width":0,"height":0,"name":"Humedad (%)","label":"Humedad (%):","format":"{{msg.payload.Humedad}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":520,"y":340,"wires":[]},{"id":"fbf0cde9642a6302","type":"ui_text","z":"7445ca685b2ca4c8","group":"f393d217fc00fa74","order":1,"width":0,"height":0,"name":"Distancia (cm)","label":"Distancia (cm):","format":"{{msg.payload.Distancia}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":740,"y":340,"wires":[]},{"id":"da249f10cef64467","type":"ui_text","z":"7445ca685b2ca4c8","group":"b2fbceeff426f850","order":3,"width":0,"height":0,"name":"Tópico","label":"Tópico: ","format":"{{msg.topic}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":490,"y":380,"wires":[]},{"id":"d50234b03a37dc28","type":"ui_text","z":"7445ca685b2ca4c8","group":"f393d217fc00fa74","order":3,"width":0,"height":0,"name":"Tópico","label":"Tópico: ","format":"{{msg.topic}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":710,"y":380,"wires":[]},{"id":"79834838b0d57c37","type":"ui_gauge","z":"7445ca685b2ca4c8","name":"Sensor DHT11","group":"b2fbceeff426f850","order":2,"width":0,"height":0,"gtype":"donut","title":"Humedad","label":"%","format":"{{msg.payload.Humedad}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":520,"y":420,"wires":[]},{"id":"f3f38425521f82c2","type":"ui_gauge","z":"7445ca685b2ca4c8","name":"Sensor HC-SR04","group":"f393d217fc00fa74","order":2,"width":0,"height":0,"gtype":"donut","title":"Distancia","label":"cm","format":"{{msg.payload.Distancia}}","min":0,"max":"200","colors":["#0006b3","#e6b400","#ca3838"],"seg1":"20","seg2":"140","diff":false,"className":"","x":750,"y":420,"wires":[]},{"id":"879852106172ef36","type":"ui_text","z":"7445ca685b2ca4c8","group":"1a7a350820de0727","order":4,"width":0,"height":0,"name":"Dispositivo","label":"Dispositivo: ","format":"{{msg.payload.Dispositivos}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":510,"y":180,"wires":[]},{"id":"dec188b8e693fc24","type":"ui_text","z":"7445ca685b2ca4c8","group":"b2fbceeff426f850","order":4,"width":0,"height":0,"name":"Dispositivo","label":"Dispositivo: ","format":"{{msg.payload.Dispositivos}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":510,"y":460,"wires":[]},{"id":"3f3bfc37da44e3cd","type":"ui_text","z":"7445ca685b2ca4c8","group":"f393d217fc00fa74","order":4,"width":0,"height":0,"name":"Dispositivo","label":"Dispositivo: ","format":"{{msg.payload.Dispositivos}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":730,"y":460,"wires":[]},{"id":"bf7823849cec34a0","type":"ui_text","z":"7445ca685b2ca4c8","group":"1a7a350820de0727","order":4,"width":0,"height":0,"name":"ID","label":"ID: ","format":"{{msg._msgid}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":690,"y":180,"wires":[]},{"id":"c255a0f180c71969","type":"ui_text","z":"7445ca685b2ca4c8","group":"b2fbceeff426f850","order":4,"width":0,"height":0,"name":"ID","label":"ID: ","format":"{{msg._msgid}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":490,"y":500,"wires":[]},{"id":"642af2af1f44736f","type":"ui_text","z":"7445ca685b2ca4c8","group":"f393d217fc00fa74","order":4,"width":0,"height":0,"name":"ID","label":"ID: ","format":"{{msg._msgid}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":710,"y":500,"wires":[]},{"id":"7e62a48f676faae3","type":"debug","z":"7445ca685b2ca4c8","name":"debug Temp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":20,"wires":[]},{"id":"1a7a350820de0727","type":"ui_group","name":"Sensor DHT11","tab":"c5a58cac1b483fa3","order":1,"disp":true,"width":"6","collapse":true,"className":""},{"id":"30d1b6bfd45badaa","type":"mqtt-broker","name":"Sever MQTT","broker":"172.171.224.96","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"b2fbceeff426f850","type":"ui_group","name":"Sensor DHT11","tab":"c5a58cac1b483fa3","order":2,"disp":true,"width":"6","collapse":true,"className":""},{"id":"f393d217fc00fa74","type":"ui_group","name":"Sensor HC-SR04","tab":"c5a58cac1b483fa3","order":3,"disp":true,"width":"6","collapse":true,"className":""},{"id":"c5a58cac1b483fa3","type":"ui_tab","name":"Practica 5: Grupo B","icon":"dashboard","order":1,"disabled":false,"hidden":false}]