Códigos_y_Otros/practica3_v2.json
[{"id":"92cde397fb6644dc","type":"inject","z":"98c911ca86f7ac60","name":"Generador Mensaje","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"0.1","topic":"","payload":"Millonarios FC ))OO//M(( | MFC","payloadType":"str","x":190,"y":60,"wires":[["2e037a6374bdf22a"]]},{"id":"871bd6b272d386cd","type":"debug","z":"98c911ca86f7ac60","name":"Receptor Mensaje","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":190,"y":180,"wires":[]},{"id":"75bea26990b24715","type":"mqtt in","z":"98c911ca86f7ac60","name":"Suscriptor","topic":"MFCtopic","qos":"2","datatype":"auto-detect","broker":"2e89aaa9455b835c","nl":false,"rap":true,"rh":0,"inputs":0,"x":480,"y":180,"wires":[["871bd6b272d386cd"]]},{"id":"2e037a6374bdf22a","type":"mqtt out","z":"98c911ca86f7ac60","name":"Publicador","topic":"MFCtopic","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d96d3ab6c89c1a3f","x":490,"y":60,"wires":[]},{"id":"2e89aaa9455b835c","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"d96d3ab6c89c1a3f","type":"mqtt-broker","name":"","broker":"http://172.171.224.96:1883","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]