Códigos_y_Otros/practica4.json
[{"id":"871bd6b272d386cd","type":"debug","z":"98c911ca86f7ac60","name":"Receptor Mensaje","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":150,"y":40,"wires":[]},{"id":"75bea26990b24715","type":"mqtt in","z":"98c911ca86f7ac60","name":"Suscriptor","topic":"canal_dagd","qos":"2","datatype":"auto-detect","broker":"2e89aaa9455b835c","nl":false,"rap":true,"rh":0,"inputs":0,"x":440,"y":40,"wires":[["871bd6b272d386cd","567663261ef6c492","042e9d1e04401915","1590069c39d72f6d","3cef676fa9b4b229","27c0d87d50ea8a43"]]},{"id":"567663261ef6c492","type":"ui_text","z":"98c911ca86f7ac60","group":"aeeb5af49f3d59cf","order":2,"width":"0","height":"0","name":"","label":"Distancia [cm]:","format":"{{msg.payload}}","layout":"row-left","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":700,"y":100,"wires":[]},{"id":"042e9d1e04401915","type":"ui_gauge","z":"98c911ca86f7ac60","name":"","group":"bec5d4319b6889d9","order":1,"width":0,"height":0,"gtype":"donut","title":"Rango Medición Distancia","label":"cm","format":"{{value}}","min":"0","max":"100","colors":["#ca3838","#bbb502","#00b500"],"seg1":"9","seg2":"19","diff":false,"className":"","x":730,"y":280,"wires":[]},{"id":"1590069c39d72f6d","type":"ui_text","z":"98c911ca86f7ac60","group":"aeeb5af49f3d59cf","order":1,"width":0,"height":0,"name":"Tópico: ","label":"Topic: ","format":"{{msg._topic}}","layout":"row-left","className":"_topic","style":false,"font":"","fontSize":16,"color":"#000000","x":680,"y":40,"wires":[]},{"id":"3cef676fa9b4b229","type":"ui_text","z":"98c911ca86f7ac60","group":"aeeb5af49f3d59cf","order":3,"width":0,"height":0,"name":"QoS","label":"QoS:","format":"{{msg.qos}}","layout":"row-left","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":670,"y":160,"wires":[]},{"id":"27c0d87d50ea8a43","type":"ui_text","z":"98c911ca86f7ac60","group":"aeeb5af49f3d59cf","order":3,"width":0,"height":0,"name":"","label":"ID:","format":"{{msg._msgid}}","layout":"row-left","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":670,"y":220,"wires":[]},{"id":"2e89aaa9455b835c","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"aeeb5af49f3d59cf","type":"ui_group","name":"Datos (msg object)","tab":"3be908873eb6e2da","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"bec5d4319b6889d9","type":"ui_group","name":"Instrumento 1","tab":"3be908873eb6e2da","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"3be908873eb6e2da","type":"ui_tab","name":"Medición Distancia Objetos menor a 20 cm","icon":"dashboard","order":1,"disabled":false,"hidden":false}]